<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
 
    <context-param>
        <param-name>user</param-name>
        <param-value>jkunaparaju@gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>pass</param-name>
        <param-value>052883764</param-value>
    </context-param>
   
    <servlet>
        <servlet-name>EditMemberServlet</servlet-name>
        <servlet-class>controller.EditMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEventServlet</servlet-name>
        <servlet-class>controller.EditEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEventServlet</servlet-name>
        <servlet-class>controller.UpdateEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberEventServlet</servlet-name>
        <servlet-class>controller.MemberEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListEventServlet</servlet-name>
        <servlet-class>controller.ListEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailSendingServlet</servlet-name>
        <servlet-class>controller.EmailSendingServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>EditMemberServlet</servlet-name>
        <url-pattern>/EditMemberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEventServlet</servlet-name>
        <url-pattern>/EditEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEventServlet</servlet-name>
        <url-pattern>/UpdateEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberEventServlet</servlet-name>
        <url-pattern>/MemberEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListEventServlet</servlet-name>
        <url-pattern>/ListEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailSendingServlet</servlet-name>
        <url-pattern>/EmailSendingServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>top.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/confDatasource</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
